{% extends '::landing.html.twig' %}
{% block login %}
    <div class="content-wrap">
        <header class="hero-area" id="home">

            <div class="container">
                <div class="col-md-12">

                    <div class="navbar sticky-navigation navbar-fixed-top" role="navigation"
                         data-spy="affix" data-offset-top="200">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="logo-left " href="#"><i class="mdi-image-timelapse"></i>BasketPlanner</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents text-right">
                    <h1 class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">BasketPlanner - Jūsų
                        krepšinio planuotojas</h1>

                    <p class="wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">
                        Nieko nelauk ir junkis į mačą jau dabar!
                    </p>
                    <a class="btn btn-lg btn-social btn-facebook wow fadeInUp "
                       href="{{ hwi_oauth_login_url('facebook') }}" data-wow-duration="1000ms"
                       data-wow-delay="400ms">
                        <em class="fa fa-facebook fa-2x"></em>Prisijungti su Facebook
                    </a>
                    <a class="btn btn-lg btn-social btn-google wow fadeInUp"
                       href="{{ hwi_oauth_login_url('google') }}" data-wow-duration="1000ms"
                       data-wow-delay="400ms">
                        <em class="fa fa-google-plus fa-2x"></em>Prisijungti su Google+
                    </a>
                </div>
            </div>
        </header>

        <section id="features" class="section">
            <div class="container">

                <div class="section-header">
                    <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                        Nepraleisk progos sužaisti!
                    </h1>
                    <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">
                        Naujausi mačai
                    </h2>

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="match-list">
                                <div class="tab-content-wrap row">

                                    {% for match in matches %}
                                        <div class="col-lg-4 col-md-4 col-sm-6 mix hvr-float-shadow wow fadeIn" style="margin-bottom: 25px;">
                                            <div class="img-holder"><img
                                                        src="https://maps.googleapis.com/maps/api/staticmap?center={{ match.court.getLatitude() }},{{ match.court.getLongitude() }}&zoom=15&size=380x200&maptype=roadmap
        &markers=color:red%7Clabel:C%7C{{ match.court.getLatitude() }},{{ match.court.getLongitude() }}
        &key=AIzaSyBxbJhm5iH3jEhi3oSFXHdluBAR8v-ZarU"/></div>
                                            <div class="content-wrap">
                                                <img src="{{ match.owner.profilePicture }}" alt="" class="author-img thumb48">

                                                <div class="meta">
                                                    <ul>
                                                        <li>
                                                            <span><i class="fa fa-calendar"></i>{{ match.beginsAt.format('M d Y') }}</span>
                                                        </li>
                                                        <li>
                                                            <span><i class="fa fa-clock-o"></i>{{ match.beginsAt.format('H:i') }}</span>
                                                        </li>
                                                        <li>
                                                            <span><i class="fa  fa-trophy"></i>{{ match.type.name }}</span>
                                                        </li>
                                                        <li>
                                                            <span><i class="fa fa-map-marker"></i>{{ match.court.address }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <!-- END widget-->
                        </div>
                    </div>
                </div>

                <div class="section-header">
                    <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">
                        Kodėl verta naudoti BasketPlanner?
                    </h1>
                    <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">
                        Tai tikrai Jums patiks
                    </h2>
                </div>

                <div class="row">

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="features">
                            <div class="icon">
                                <i class="fa fa-calendar" style="color:#FF9800"></i>
                            </div>
                            <div class="features-text">
                                <h4>Organizuosite žaidimus patogiai</h4>
                                <p>
                                    BasketPlanner leis Jums vos keliais mygtukų spragtelėjimais greitai bei patogiai sukurti
                                    arba prisijungti prie jau esamo krepšinio mačo!
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="features">
                            <div class="icon">
                                <i class="fa fa-users" style="color:#FF9800"></i>
                            </div>
                            <div class="features-text">
                                <h4>Visos aikštelės vienoje vietoje</h4>
                                <p>
                                    BasketPlanner žino visas Kaune esančias krepšinio aikšteles,
                                    todėl Jums nereikės gaišti laiko bandant surasti vietą mačui.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="features">
                            <div class="icon">
                                <i class="fa fa-comments" style="color:#FF9800"></i>
                            </div>
                            <div class="features-text">
                                <h4>Nauji draugai</h4>
                                <p>
                                    Sukurdami arba dalyvaudami mačuose susipažinsite su naujais žmonėmis!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright-text">
                            © BasketPlanner 2015 Visos teisės saugomos
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/wow.js') }}"></script>
    <script>
        jQuery(function ($) {

            //Initiat WOW JS
            new WOW().init();
        });

    </script>
{% endblock scripts %}
