<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}BasketPlanner - Jûsø krepðinio organizatorius!{% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/style/app.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/style/font-awesome.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/style/bootstrap-datetimepicker.min.css') }}">
    {% endblock %}
</head>

<body id="body" class="wrapper layout-fixed">
<!-- top navbar-->
{% block main_body %}
    {% if app.user %}
        {% block header %}
            {% include 'partials/topnavbar.html.twig' %}
        {% endblock %}
        <!-- sidebar-->
        {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
        {% endblock %}
        <section>
            {% block content %}{% endblock %}
        </section>
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    {% else %}
        {% block login %}
        {% endblock %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/moment-with-langs.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/js.js') }}"></script>
{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>