<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}BasketPlanner - Jūsų krepšinio organizatorius!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}"/>
    {% block css %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/hover.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-confirm.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css') }}">
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}

</head>

{{ jsContainerAdd([
    'assets/js/jquery/jquery.min.js',
    'assets/js/bootstrap.min.js',
    'assets/js/moment-with-locales.min.js',
    'assets/js/jquery.mixitup.min.js',
    'assets/js/smooth-on-scroll.js',
    'assets/js/smooth-scroll.js',
    'assets/js/js.js',
]) }}

<body id="body" class=" layout-fixed aside-toggled ">
<div class="wrapper">
<!-- top navbar-->
{% block main_body %}
        {% block header %}
            {% include 'partials/topnavbar.html.twig' %}
        {% endblock %}
        <!-- sidebar-->
        {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
        {% endblock %}
        <section>
            {% block content %}{% endblock %}
        </section>
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ jsContainerPrint() | raw }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{% endblock %}

{% block scripts %}{% endblock %}
</div>
</body>
</html>
