<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}BasketPlanner - Jūsų krepšinio organizatorius!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block css %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link href="{{ asset('assets/css/ripples.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
    {% endblock %}
    {% block stylesheets %}
    {% endblock %}

</head>

<body id="body" class="wrapper layout-fixed">
<!-- top navbar-->
{% block main_body %}
        {% block login %}
        {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/smooth-on-scroll.js') }}"></script>
    <script src="{{ asset('assets/js/smooth-scroll.js') }}"></script>
    <script src="{{ asset('assets/js/js.js') }}"></script>
{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
