{% extends '::base.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('assets/css/toastr.css') }}" rel="stylesheet"/>
    {% endblock %}
{% block content %}
    <div ui-view="" autoscroll="false" class="content-wrapper">
        <!-- START row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel widget">
                    <div class="panel-body">

                        {{ form_start(form) }}


                            <div class="form-group">
                                <div class="col-lg-4 col-sm-12">
                                {{ form_errors(form.search_text) }}
                                {{ form_widget(form.search_text, {'attr': {'class': 'form-control', 'placeholder': 'Paieška'}}) }}
                                </div>
                            </div>

                                {{ form_errors(form.min_date) }}
                                {{ form_widget(form.min_date) }}
                                {{ form_errors(form.max_date) }}
                                {{ form_widget(form.max_date) }}

                            {% if form.type is defined %}
                                    <div class="form-group">
                                        <div class="col-sm-12 col-lg-4">
                                            {{ form_errors(form.type) }}
                                            <div class="del">
                                                {{ form_widget(form.type, {'attr': {'style': 'display:none;'}}) }}</div>
                                            <div id="basket_planner_create_match_type" style="margin-top: 5px;">

                                                <label class="required radio-inline c-radio"
                                                       for="basket_planner_create_match_type_1">
                                                    <input id="basket_planner_create_match_type_1"
                                                           name="basket_planner_create_match[type]" required="required"
                                                           type="radio" value="1">
                                                    <span class="fa fa-circle"></span>1x1</label>

                                                <label class="required radio-inline c-radio"
                                                       for="basket_planner_create_match_type_2">
                                                    <input id="basket_planner_create_match_type_2"
                                                           name="basket_planner_create_match[type]" required="required"
                                                           type="radio" value="2">
                                                    <span class="fa fa-circle"></span>2x2</label>

                                                <label class="required radio-inline c-radio"
                                                       for="basket_planner_create_match_type_3">
                                                    <input id="basket_planner_create_match_type_3"
                                                           name="basket_planner_create_match[type]" required="required"
                                                           type="radio" value="3">
                                                    <span class="fa fa-circle"></span>3x3</label>

                                                <label class="required radio-inline c-radio"
                                                       for="basket_planner_create_match_type_4">
                                                    <input id="basket_planner_create_match_type_4"
                                                           name="basket_planner_create_match[type]" required="required"
                                                           type="radio" value="4">
                                                    <span class="fa fa-circle"></span>4x4</label>

                                                <label class="required radio-inline c-radio"
                                                       for="basket_planner_create_match_type_5">
                                                    <input id="basket_planner_create_match_type_5"
                                                           name="basket_planner_create_match[type]" required="required"
                                                           type="radio" value="5">
                                                    <span class="fa fa-circle"></span>5x5</label>

                                                <label class="required radio-inline c-radio"
                                                       for="basket_planner_create_match_type_6">
                                                    <input id="basket_planner_create_match_type_6"
                                                           name="basket_planner_create_match[type]" required="required"
                                                           type="radio" value="Kita">
                                                    <span class="fa fa-circle"></span>Kita</label>

                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                            <div class="form-group center">
                                {#{{ form_widget(form.search, {'attr': {'class': 'btn btn-primary btn-block no-border-radius'}}) }}#}
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                {{ form_widget(form.search, {'attr': {'class':'btn btn-sm btn-default no-border-radius btn-match'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {{ form_end(form) }}
                </div>
            </div>
        </div>
        </div>
        <!-- END row-->

        {% for flash_message in app.session.flashbag.get('error') %}
            <div style="color: #ed0600; font-size: 20px;">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-12">
                {#<div class="col-lg-4">
                    <!-- START widget-->
                    <div class="panel widget">
                        &#123;&#35;{{ google_map(map) }}&#35;&#125;

                        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ match.court.getLatitude() }},{{ match.court.getLongitude() }}&zoom=15&size=300x300&maptype=roadmap
    &markers=color:red%7Clabel:C%7C{{ match.court.getLatitude() }},{{ match.court.getLongitude() }}
    &key=AIzaSyBxbJhm5iH3jEhi3oSFXHdluBAR8v-ZarU"/>

                        <div class="panel-body bg-inverse">
                            <div class="row row-table text-center">
                                <div class="col-xs-4">
                                    <em class="fa fa-calendar fa-2x"></em>

                                    <p class="m0">{{ match.beginsAt.format('H:i') }}</p>

                                    <p class="m0">{{ match.beginsAt.format('M d Y') }}</p>

                                </div>
                                <div class="col-xs-4">
                                    <em class="fa fa-trophy fa-2x"></em>

                                    <p class="m0">
                                        {{ match.type.name }}
                                    </p>
                                </div>
                                <div class="col-xs-4">
                                    <em class="fa fa-map-marker fa-2x"></em>

                                    <p class="m0">{{ match.court.address }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body bg-inverse">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <a type="button" class="btn btn-block btn-warning"
                                       href="{{ path('basket_planner_match_show', {'id': match.id}) }}">
                                        <em class="fa fa-eye fa-2x"></em>

                                        <p class="mobhide">DAUGIAU</p>
                                    </a>
                                </div>

                                <div class="col-xs-4">
                                    <em class="fa fa-users fa-2x"></em>

                                    <p class="m0">{{ match.playersCount }}/{{ match.type.players }}</p>
                                </div>

                                <div class="col-xs-4">
                                    <a type="button" class="btn btn-block btn-warning" style="padding:6px 0px;"
                                       href="{{ path('basket_planner_match_join', {'id': match.id}) }}">
                                        <em class="fa fa-sign-in fa-2x"></em>

                                        <p class="mobhide">PRISIJUNGTI</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
                <div id="match-list">
                        <div class="tab-content-wrap row">

                            {% for match in pagination %}
                                <div class="col-lg-3 col-md-4 col-sm-6 mix hvr-float-shadow wow fadeIn" style="margin-bottom: 25px;">
                                    <div class="img-holder"><img
                                                src="https://maps.googleapis.com/maps/api/staticmap?center={{ match.court.getLatitude() }},{{ match.court.getLongitude() }}&zoom=15&size=380x200&maptype=roadmap
        &markers=color:red%7Clabel:C%7C{{ match.court.getLatitude() }},{{ match.court.getLongitude() }}
        &key=AIzaSyBxbJhm5iH3jEhi3oSFXHdluBAR8v-ZarU"/></div>
                                    <div class="content-wrap">
                                        <img src="{{ match.owner.profilePicture }}" alt="" class="author-img">

                                        <div class="meta">
                                            <ul>
                                                <li>
                                                    <span><i class="fa fa-calendar"></i>{{ match.beginsAt.format('M d Y') }}</span>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-clock-o"></i>{{ match.beginsAt.format('H:i') }}</span>
                                                </li>
                                                <li>
                                                    <span><i class="fa  fa-trophy"></i>{{ match.type.name }}</span>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-map-marker"></i>{{ match.court.address }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <a class="btn-match hvr-bounce-to-right orange"
                                           href="{{ path('basket_planner_match_join', {'id': match.id}) }}"><i
                                                    class="fa fa-sign-in"></i> Prisijungti</a>
                                        <a class="btn-match hvr-bounce-to-right orange"
                                           href="{{ path('basket_planner_match_show', {'id': match.id}) }}"><i
                                                    class="fa fa-eye"></i> Peržiūrėti</a>

                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                <!-- END widget-->
            </div>
        </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

{% block scripts %}
    {#<script src="{{ asset('assets/js/toastr.js') }}"></script>#}

    <script>
        $(document).ready(function () {

            $("#basket_planner_filter_match_min_date").wrap('<div class="form-group"><div class="col-lg-2 col-sm-6"></div></div>');
            $("#basket_planner_filter_match_min_date_time").addClass('form-control');
            $("#basket_planner_filter_match_min_date_date").addClass('form-control');

            $("#basket_planner_filter_match_max_date").wrap('<div class="form-group"><div class="col-lg-2 col-sm-6"></div></div>');
            $("#basket_planner_filter_match_max_date_time").addClass('form-control');
            $("#basket_planner_filter_match_max_date_date").addClass('form-control');
            $(".del").remove();
        });
    </script>
{% endblock %}