{% extends '::base.html.twig' %}
{% block content %}
    <div ui-view="" autoscroll="false" class="content-wrapper">

        <h3>Sąrašas</h3>
        <!-- START row-->
        <div class="row">
            <div class="col-lg-4">
                <div class="panel widget">
                    <div class="panel-heading">Filtravimas</div>
                    <div class="panel-body">

                        {{ form_start(form) }}

                        <fieldset>
                            <div class="form-group">
                                {{ form_label(form.search_text, 'Paieška') }}
                                {{ form_errors(form.search_text) }}
                                {{ form_widget(form.search_text, {'attr': {'class': 'form-control no-border-radius', 'placeholder': 'paieška'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.type, 'Žaidimo tipas', {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_errors(form.type) }}
                                {{ form_widget(form.type) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.min_date, 'Pradžia(Data ir laikas)') }}
                                {{ form_errors(form.min_date) }}
                                {{ form_widget(form.min_date) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.max_date, 'Pabaiga(Data ir laikas)') }}
                                {{ form_errors(form.max_date) }}
                                {{ form_widget(form.max_date) }}
                            </div>

                            <div class="form-group center">
                                {{ form_widget(form.search, {'attr': {'class': 'btn btn-primary btn-block no-border-radius'}}) }}
                            </div>

                        </fieldset>

                        {{ form_end(form) }}

                        {#<div class="row">#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="form-group">#}
                                {#<div class="col-sm-6 col-lg-6">#}
                                    {#<div id="datetimepicker1"#}
                                         {#class="input-group date mb-lg">#}
                                        {#<input type="text" class="form-control" placeholder="Nuo"/>#}
                             {#<span class="input-group-addon">#}
                                {#<span class="fa-calendar fa"></span>#}
                             {#</span>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="col-sm-6 col-lg-6">#}
                                    {#<div id="datetimepicker2"#}
                                         {#class="input-group date mb-lg">#}
                                        {#<input type="text" class="form-control" placeholder="Iki"/>#}
                             {#<span class="input-group-addon">#}
                                {#<span class="fa-calendar fa"></span>#}
                             {#</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="form-group">#}
                                {#<div class="checkbox-inline c-checkbox ">#}
                                    {#<label>#}
                                        {#<input type="checkbox" id="#1x1">#}
                                        {#<span class="fa fa-check"></span>1x1</label>#}
                                {#</div>#}
                                {#<div class="checkbox-inline c-checkbox ">#}
                                    {#<label>#}
                                        {#<input type="checkbox" id="#2x2">#}
                                        {#<span class="fa fa-check"></span>2x2</label>#}
                                {#</div>#}
                                {#<div class="checkbox-inline c-checkbox ">#}
                                    {#<label>#}
                                        {#<input type="checkbox" id="#3x3">#}
                                        {#<span class="fa fa-check"></span>3x3</label>#}
                                {#</div>#}
                                {#<div class="checkbox-inline c-checkbox ">#}
                                    {#<label>#}
                                        {#<input type="checkbox" id="#4x4">#}
                                        {#<span class="fa fa-check"></span>4x4</label>#}
                                {#</div>#}
                                {#<div class="checkbox-inline c-checkbox ">#}
                                    {#<label>#}
                                        {#<input type="checkbox" id="#5x5">#}
                                        {#<span class="fa fa-check"></span>5x5</label>#}
                                {#</div>#}
                                {#<div class="checkbox-inline c-checkbox ">#}
                                    {#<label>#}
                                        {#<input type="checkbox" id="#Kita">#}
                                        {#<span class="fa fa-check"></span>Kita</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="form-group">#}
                                {#<div class="col-sm-6 col-lg-6">#}
                                    {#<input type="email" placeholder="Adresas" class="form-control">#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="panel-footer">#}
                        {#<div class="row text-center">#}
                            {#<div class="col-xs-6">#}
                                {#<button type="submit" class="btn btn-default btn-block">Filtruoti</button>#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- END row-->

        {% for flash_message in app.session.flashbag.get('error') %}
            <div style="color: #ed0600; font-size: 20px;">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-4">
                {% for match in pagination %}
                    <!-- START widget-->
                    <div class="panel widget">
                       {#{{ google_map(map) }}#}

                        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ match.court.getLatitude() }},{{ match.court.getLongitude() }}&zoom=15&size=300x300&maptype=roadmap
    &markers=color:red%7Clabel:C%7C{{ match.court.getLatitude() }},{{ match.court.getLongitude() }}
    &key=AIzaSyBxbJhm5iH3jEhi3oSFXHdluBAR8v-ZarU"/>
                        <div class="panel-body bg-inverse">
                            <div class="row row-table text-center">
                                <div class="col-xs-4">
                                    <em class="fa fa-calendar fa-2x"></em>

                                    <p class="m0">{{ match.beginsAt.format('H:i') }}</p>

                                    <p class="m0">{{ match.beginsAt.format('M d Y') }}</p>

                                </div>
                                <div class="col-xs-4">
                                    <em class="fa fa-trophy fa-2x"></em>

                                    <p class="m0">
                                        {{ match.type.name }}
                                    </p>
                                </div>
                                <div class="col-xs-4">
                                    <em class="fa fa-map-marker fa-2x"></em>

                                    <p class="m0">{{ match.court.address }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body bg-inverse">
                            <div class="row text-center">
                                <div class="col-xs-4">
                                    <a type="button" class="btn btn-block btn-warning"
                                       href="{{ path('basket_planner_match_show', {'id': match.id}) }}">
                                        <em class="fa fa-eye fa-2x"></em>

                                        <p class="mobhide">DAUGIAU</p>
                                    </a>
                                </div>

                                <div class="col-xs-4">
                                    <em class="fa fa-users fa-2x"></em>

                                    <p class="m0">{{ match.playersCount }}/{{ match.type.players }}</p>
                                </div>

                                <div class="col-xs-4">
                                    <a type="button" class="btn btn-block btn-warning"
                                       href="{{ path('basket_planner_match_join', {'id': match.id}) }}">
                                        <em class="fa fa-sign-in fa-2x"></em>

                                        <p class="mobhide">PRISIJUNGTI</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END widget-->
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
