{% extends '::base.html.twig' %}

    {% block stylesheets %}
    {% endblock %}
{% block content %}
    <div ui-view="" autoscroll="false" class="content-wrapper">
        <!-- START row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel widget">
                    <div class="panel-body">

                        {{ form_start(form) }}

                                {{ form_errors(form.min_date) }}
                                {{ form_errors(form.max_date) }}
                            <div class="form-group">
                                <div class="col-lg-4 col-sm-12">
                                {{ form_errors(form.search_text) }}
                                {{ form_widget(form.search_text, {'attr': {'class': 'form-control', 'placeholder': 'Paieška'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {{ form_widget(form.min_date, {'attr': {'style':'display:none'}}) }}
                                {{ form_widget(form.max_date, {'attr': {'style':'display:none'}}) }}
                            </div>
                            {% if form.type is defined %}
                                    <div class="form-group">
                                        <div class="col-sm-12 col-lg-4">
                                            {{ form_errors(form.type) }}
                                            <div class="del">
                                                {{ form_widget(form.type, {'attr': {'style':'display:none'}}) }}</div>
                                            <div id="basket_planner_filter_match_type" style="margin-top: 5px;">

                                                <label class="checkbox-inline c-checkbox"
                                                       for="basket_planner_filter_match_type_1">
                                                    <input id="basket_planner_filter_match_type_1"
                                                           name="basket_planner_filter_match[type][]"
                                                           type="checkbox" value="1">
                                                    <span class="fa fa-check"></span>1x1</label>

                                                <label class="checkbox-inline c-checkbox"
                                                       for="basket_planner_filter_match_type_2">
                                                    <input id="basket_planner_filter_match_type_2"
                                                           name="basket_planner_filter_match[type][]"
                                                           type="checkbox" value="2">
                                                    <span class="fa fa-check"></span>2x2</label>

                                                <label class="checkbox-inline c-checkbox"
                                                       for="basket_planner_filter_match_type_3">
                                                    <input id="basket_planner_filter_match_type_3"
                                                           name="basket_planner_filter_match[type][]"
                                                           type="checkbox" value="3">
                                                    <span class="fa fa-check"></span>3x3</label>

                                                <label class="checkbox-inline c-checkbox"
                                                       for="basket_planner_filter_match_type_4">
                                                    <input id="basket_planner_filter_match_type_4"
                                                           name="basket_planner_filter_match[type][]"
                                                           type="checkbox" value="4">
                                                    <span class="fa fa-check"></span>4x4</label>

                                                <label class="checkbox-inline c-checkbox"
                                                       for="basket_planner_filter_match_type_5">
                                                    <input id="basket_planner_filter_match_type_5"
                                                           name="basket_planner_filter_match[type][]"
                                                           type="checkbox" value="5">
                                                    <span class="fa fa-check"></span>5x5</label>

                                                {#<label class="required checkbox-inline c-checkbox"
                                                       for="basket_planner_filter_match_type_6">
                                                    <input id="basket_planner_filter_match_type_6"
                                                           name="basket_planner_filter_match[type]" required="required"
                                                           type="checkbox" value="Kita">
                                                    <span class="fa fa-check"></span>Kita</label>#}

                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                            <div class="form-group center">
                                {#{{ form_widget(form.search, {'attr': {'class': 'btn btn-primary btn-block no-border-radius'}}) }}#}
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                {{ form_widget(form.search, {'attr': {'class':'btn btn-sm btn-default no-border-radius btn-match'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {{ form_end(form) }}
                </div>
            </div>
        </div>
        </div>
        <!-- END row-->

        {% for flash_message in app.session.flashbag.get('error') %}
            <div style="color: #ed0600; font-size: 20px;">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-12">
                <div id="match-list">
                        <div class="tab-content-wrap row">

                            {% for match in pagination %}
                                <div class="col-lg-3 col-md-4 col-sm-6 mix hvr-float-shadow wow fadeIn" style="margin-bottom: 25px;">
                                    <div class="img-holder"><img
                                                src="https://maps.googleapis.com/maps/api/staticmap?center={{ match.court.getLatitude() }},{{ match.court.getLongitude() }}&zoom=15&size=380x200&maptype=roadmap
        &markers=color:red%7Clabel:C%7C{{ match.court.getLatitude() }},{{ match.court.getLongitude() }}
        &key=AIzaSyBxbJhm5iH3jEhi3oSFXHdluBAR8v-ZarU"/></div>
                                    <div class="content-wrap">
                                        <img src="{{ match.owner.profilePicture }}" alt="" class="author-img thumb48">

                                        <div class="meta">
                                            <ul>
                                                <li>
                                                    <span><i class="fa fa-calendar"></i>{{ match.beginsAt.format('M d Y') }}</span>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-clock-o"></i>{{ match.beginsAt.format('H:i') }}</span>
                                                </li>
                                                <li>
                                                    <span><i class="fa  fa-trophy"></i>{{ match.type.name }}</span>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-map-marker"></i>{{ match.court.address }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        {% if app.user in match.players %}
                                        <a class="btn-match"
                                           href="{{ path('basket_planner_match_leave', {'id': match.id}) }}"><i
                                                    class="fa fa-sign-out"></i> Išeiti</a>
                                        {% else %}
                                        <a class="btn-match"
                                           href="{{ path('basket_planner_match_join', {'id': match.id}) }}"><i
                                                    class="fa fa-sign-in"></i> Prisijungti</a>
                                        {% endif %}
                                        <a class="btn-match"
                                           href="{{ path('basket_planner_match_show', {'id': match.id}) }}"><i
                                                    class="fa fa-eye"></i> Peržiūrėti</a>

                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                <!-- END widget-->
            </div>
        </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

{% block scripts %}
    {#<script src="{{ asset('assets/js/toastr.js') }}"></script>#}

    <script>
        $(document).ready(function () {

            $("#basket_planner_filter_match_min_date").wrap('<div class="form-group"><div class="col-lg-2 col-sm-6"></div></div>');
            $("#basket_planner_filter_match_min_date_time").addClass('form-control');
            $("#basket_planner_filter_match_min_date_date").addClass('form-control');

            $("#basket_planner_filter_match_max_date").wrap('<div class="form-group"><div class="col-lg-2 col-sm-6"></div></div>');
            $("#basket_planner_filter_match_max_date_time").addClass('form-control');
            $("#basket_planner_filter_match_max_date_date").addClass('form-control');

            $("#basket_planner_filter_match_min_date_time").attr('type', 'text');
            $("#basket_planner_filter_match_min_date_date").attr('type', 'text');
            $("#basket_planner_filter_match_max_date_time").attr('type', 'text');
            $("#basket_planner_filter_match_max_date_date").attr('type', 'text');

            $("#basket_planner_filter_match_min_date_time").attr('placeholder', 'Laikas nuo');
            $("#basket_planner_filter_match_min_date_date").attr('placeholder', 'Data nuo');
            $("#basket_planner_filter_match_max_date_time").attr('placeholder', 'Laikas iki');
            $("#basket_planner_filter_match_max_date_date").attr('placeholder', 'Data iki');

            $("#basket_planner_filter_match_min_date_time").removeAttr('value');
            $("#basket_planner_filter_match_min_date_date").removeAttr('value');
            $("#basket_planner_filter_match_max_date_time").removeAttr('value');
            $("#basket_planner_filter_match_max_date_date").removeAttr('value');
            $(".del").remove();
            $('#basket_planner_filter_match_min_date_date, #basket_planner_filter_match_max_date_date').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: 'lt',
                useCurrent: true,
                allowInputToggle: true,
                debug:true
            });
            $("#basket_planner_filter_match_min_date_time, #basket_planner_filter_match_max_date_time").datetimepicker({
                format: 'HH:mm',
                locale: 'lt'
            });
            $("#basket_planner_filter_match_min_date").removeAttr('style');
            $("#basket_planner_filter_match_max_date").removeAttr('style');
        });
    </script>
{% endblock %}