{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block main_body %}
{% block fos_user_content %}

    <div class="center-block">

        {% if error %}
            <div>
                {{ error.messageKey|trans(error.messageData, 'security') }}
                {{ error.message }}
            </div>
            <br><br>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />

            <label>{{ 'form.email'|trans }}</label><br>
            <input type="text" class="form-control" name="_username" required="required" />

            <label>{{ 'form.password'|trans }}</label>
            <input type="password" class="form-control" name="_password" required="required" />
            <br>

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <button class="btn btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>
        </form>
        <br>
        <p>Neturi paskyros ? <a href="{{ path('fos_user_registration_register') }}"> Registruokis!</a></p>
        <p>Arba prisijunk su socialiniais tinklais:</p>
        <a class="#" href="{{ hwi_oauth_login_url('facebook') }}">Facebook</a><br>
        <a class="#" href="{{ hwi_oauth_login_url('google') }}">Google+</a><br>
    </div>

{% endblock fos_user_content %}
{% endblock main_body %}