{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/dataTables.colVis.css') }}">
{% endblock %}

{% block content %}

{{ jsContainerAdd([
    'assets/js/bootstrap-typeahead.js',
    'assets/js/jquery-confirm.min.js',
    'assets/js/jquery.dataTables.min.js',
    'assets/js/dataTables.bootstrap.js',
    'assets/js/dataTables.bootstrapPagination.js'
]) }}

<!-- START DATATABLE 1 -->
<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-warning">
                <div class="panel-body">
                    <div class="form-group" style="margin-bottom: 0px">
                        <div class="row">
                            <div class="col-lg-5 col-sm-6" id="userSearch">
                                <input type="text" id="user" name="user"
                                       class="typeahead input-lg form-control"
                                       placeholder="Vartotojų paieška" autocomplete="off">
                            </div>
                            {{ form_start(invite, {'attr':{'id': 'team-invite-form'}}) }}
                            <div class="col-lg-5 col-sm-6" id="teamSelect">
                                {{ form_errors(invite.user) }}
                                {# , {'attr': {'style':'display:none'}} #}
                                {{ form_widget(invite.user, {'attr': {'style':'display:none'}})}}
                                {{ form_widget(invite.team, {'attr': {'class':'input-lg form-control'}}) }}
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                {{ form_widget(invite.save, {'attr': {'class':'btn-match', 'style':'margin-top:0px'}}) }}
                            </div>
                            {{ form_end(invite) }}
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div id="invite-messages" style="margin-bottom: 0px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# received invites #}
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div id="invite-status-messages" style="margin-bottom: 0px"></div>
                </div>
            </div>
            <div class="panel panel-default panel-warning">
                <div class="panel-heading panel-warning">
                    Gauti pakvietimai
                    <span class="pull-right clickable panel-collapsed">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                </div>
                <div class="panel-body" style="display: none;" >
                    <div class="table-responsive">
                        <table id="team-received-invites" class="table table-striped table-hover datatable">
                            <thead>
                            <tr>
                                <th>Pakvietė</th>
                                <th>Komanda</th>
                                <th>Statusas</th>
                                <th>Sukurta</th>
                                <th>Veiksmai</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invite in receivedInvites %}
                                <tr data-id="{{ invite.inviteId }}">
                                    <td>
                                        <a href="{{ path('basket_planner_user_profile', {'id': invite.userId}) }}">
                                            {{ invite.firstName }} {{ invite.lastName }}
                                        </a>
                                    </td>
                                    <td><a href="{{ path('basket_planner_team.show', {'id': invite.teamId}) }}">
                                            {{ invite.name }}
                                        </a>
                                    </td>
                                    {% if invite.status == "New" %}
                                        <td>Neperžiūrėtas</td>
                                    {% elseif invite.status == "Seen" %}
                                        <td>Peržiūrėtas</td>
                                    {% else%}
                                        <td>Atmestas</td>
                                    {% endif %}
                                    <td>{{ invite.created.format('M d Y H:i') }}</td>
                                    <td>
                                        <a href="#" class="invite-accept" title="Priimti">
                                            <i class=" fa fa-check"></i>
                                        </a>
                                        <a href="#" class="invite-reject" title="Atmesti">
                                            <i class=" fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {# team invites table #}
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div id="invite-remove-messages" style="margin-bottom: 0px"></div>
                </div>
            </div>
            <div class="panel panel-default panel-warning">
                <div class="panel-heading panel-warning">
                    Sukurti pakvietimai
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="team-created-invites" class="table table-striped table-hover datatable">
                            <thead>
                            <tr>
                                <th>Vartotojas</th>
                                <th>Komanda</th>
                                <th>Statusas</th>
                                <th>Sukurta</th>
                                <th>Veiksmai</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invite in createdInvites %}
                                <tr data-id="{{ invite.inviteId }}">
                                    <td>
                                        <a href="{{ path('basket_planner_user_profile', {'id': invite.userId}) }}">
                                            {{ invite.firstName }} {{ invite.lastName }}
                                        </a>
                                    </td>
                                    <td>{{ invite.name }}</td>
                                    {% if invite.status == "New" %}
                                        <td>Neperžiūrėtas</td>
                                    {% elseif invite.status == "Seen" %}
                                        <td>Peržiūrėtas</td>
                                    {% else%}
                                        <td>Atmestas</td>
                                    {% endif %}
                                    <td>{{ invite.created.format('M d Y H:i') }}</td>
                                    <td>
                                        <a href="#" class="invite-remove" title="Ištrinti">
                                            <i class=" fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {# team table #}
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div id="team-messages" style="margin-bottom: 0px"></div>
                </div>
            </div>
            <div class="panel panel-default panel-warning">
                <div class="panel-heading panel-warning">
                    Komandos
                    <span class="pull-right clickable">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="teams" class="table table-striped table-hover datatable">
                            <thead>
                            <tr>
                                <th>Pavadinimas</th>
                                <th>Tipas</th>
                                <th>Žaidėjų skaičius</th>
                                <th>Teisės</th>
                                <th>Sukurta</th>
                                <th>Veiksmai</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for team in teams %}
                            <tr data-id="{{ team[0].id }}">
                                <td>
                                    <a href="{{ path('basket_planner_team.show', {'id': team[0].id}) }}">
                                        {{ team[0].name }}
                                    </a>
                                </td>
                                <td>{{ team[0].type.name }}</td>
                                <td>{{ teamService.getTeamPlayersCount(team[0].id) }}/{{ team[0].type.players }}</td>
                                {% if team.role == "Owner" %}
                                    <td>Sąvininkas</td>
                                {% else %}
                                    <td>Žaidėjas</td>
                                {% endif %}
                                <td>{{ team[0].created.format('M d Y H:i') }}</td>
                                {% if team.role == "Owner" %}
                                    <td>
                                        <a href="#" class="team-remove" title="Ištrinti">
                                            <i class=" fa fa-times"></i>
                                        </a>
                                    </td>
                                {% else %}
                                    <td><a href="#" class="team-leave" title="Palikti">
                                            <i class=" fa fa-chain-broken"></i>
                                        </a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#teams, #team-received-invites, #team-created-invites").each(function() {
                $(this).DataTable({
                    'paging': true,  // Table pagination
                    'ordering': true,  // Column ordering
                    'info': false,  // Bottom left status text
                    'autoWidth': true,
                    oLanguage: {
                        empty: 'Susijusių įrašų nerasta',
                        sSearch: 'Paieška:',
                        sLengthMenu: '_MENU_ įrašų puslapyje',
                        info: 'Rodomas _PAGE_ puslapis iš _PAGES_',
                        zeroRecords: 'Matchų nerasta.',
                        infoEmpty: 'Nėra įrašų',
                        infoFiltered: '(surasta iš _MAX_ visų įrašų)',
                        sEmptyTable: 'Nėra įrašų',
                        "oPaginate": {
                            "sFirst": "Pirmas",
                            "sNext": "Paskutinis",
                            "sLast": "Kitas",
                            "sPrevious": "Ankstesnis"
                        }
                    }
                })
            });

            var engine = new Bloodhound({
                datumTokenizer: function (datum) {
                    return Bloodhound.tokenizers.whitespace(datum.fullName);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '{{ url('basket_planner_team.search')}}',
                    prepare: function (query, settings) {
                        settings.type = "POST";
                        settings.contentType = "application/json; charset=UTF-8";
                        settings.data = query;
                        return settings;
                    },
                    filter: function(data) {
                        return $.map(data, function(user) {
                            return {
                                id: user.id,
                                fullName: user.fullName,
                                email: user.email,
                                profilePicture: user.profilePicture
                            }
                        });
                    }
                }
            });

            engine.initialize();

            $('#userSearch .typeahead').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 2,
                limit:10,
                classNames: {
                    open: 'is-open',
                    empty: 'is-empty',
                    cursor: 'is-active',
                    suggestion: 'Typeahead-suggestion',
                    selectable: 'Typeahead-selectable'
                }
            },
            {
                name: 'engine',
                displayKey: 'fullName',
                source: engine.ttAdapter(),
                templates: {
                    empty: [
                        '<div class="empty-message hint-large">',
                        'Pagal šią užklausą vartotojų rasti nepavyko.',
                        '</div>'
                    ].join('\n'),
                    {% verbatim %}
                    suggestion: Handlebars.compile('<div class="hint-large">' +
                     '<a class="pull-left" href="#">' +
                        '<img role="button" alt="Image" class="media-object img-rounded author-img thumb16" src= "{{profilePicture}}">' +
                     '</a><div class="media-body tt-hint-body">{{fullName}} <small> {{email}} </small> </div>' +
                     '</div>')
                    {% endverbatim %}
                }
            });
            $('.typeahead.input-sm').siblings('input.tt-hint').addClass('hint-small');
            $('.typeahead.input-lg').siblings('input.tt-hint').addClass('hint-large');
            $('#userSearch').bind('typeahead:selected', function(obj, datum, name) {
                $('#basketplanner_teambundle_invite_user option:selected').val(datum.id);
                $('#basketplanner_teambundle_invite_user option:selected').text(datum.fullName);
            });

            $('#team-invite-form').submit( function() {
                var obj = new Object();
                obj["user"] = $('#basketplanner_teambundle_invite_user option:selected').val();
                obj["team"] = $('#basketplanner_teambundle_invite_team option:selected').val();
                var messageBox = $('#invite-messages');
                var className = '';
                $.ajax({
                    type: "POST",
                    url: "{{ url('basket_planner_team.invite.create') }}",
                    data: obj,
                    success: function(data) {
                        if (data['status'] == 'ok') {
                            $('.typeahead').typeahead('val', '');
                            $('#basketplanner_teambundle_invite_user option:selected').val(0);
                            $('#basketplanner_teambundle_invite_user option:selected').text('');
                            $('#basketplanner_teambundle_invite_team').prop('selectedIndex', 0);
                            className = 'alert alert-success';
                        } else {
                            className = 'alert alert-danger';
                        }

                        var content = '<div class="' + className + '">' + data["message"]
                                + '<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a></div>';
                        $(content).hide().appendTo(messageBox).fadeIn(1000);
                    }
                });

                return false;
            });

            $('.invite-accept, .invite-reject, .invite-remove, .team-remove, .team-leave').on('click', function () {
                var dataRow = $(this).parent().parent();
                var messageBox = $('#invite-status-messages');
                var clickedClass = $(this).attr("class");
                var acceptUrl = '{{path('basket_planner_team.invite.accept')}}';
                var rejectUrl = '{{path('basket_planner_team.invite.changeStatus')}}';
                var removeUrl = '{{path('basket_planner_team.invite.delete')}}';
                var teamRemoveUrl = '{{path('basket_planner_team.delete')}}';
                var teamLeaveUrl = '{{path('basket_planner_team.leave')}}';

                var destination = '';
                var alertMessage = '';
                var data = {};

                if (clickedClass == 'invite-accept'){
                    destination = acceptUrl;
                    alertMessage = 'Ar tikrai norite prisijungti prie šios komandos?';
                } else if (clickedClass == 'invite-reject'){
                    destination = rejectUrl;
                    data.status = 'Rejected';
                    alertMessage = 'Ar tikrai norite atmesti šį pakvietimą? Jis daugiau nebus rodomas.';
                } else if (clickedClass == 'invite-remove'){
                    destination = removeUrl;
                    messageBox = $('#invite-remove-messages');
                    alertMessage = 'Ar tikrai norite pašalinti šį pakvietimą?';
                } else if (clickedClass == 'team-remove'){
                    destination = teamRemoveUrl;
                    messageBox = $('#team-messages');
                    alertMessage = 'Ar tikrai norite pašalinti šią komandą?';
                } else {
                    destination = teamLeaveUrl;
                    messageBox = $('#team-messages');
                    alertMessage = 'Ar tikrai norite palikti šią komandą?';
                }

                $.confirm({
                    title: 'Dėmesio!',
                    content: alertMessage,
                    confirmButton: 'Taip',
                    cancelButton: 'Ne',
                    confirm: function(){
                        data.id = dataRow.attr("data-id");
                        $.ajax({
                            type: "POST",
                            url: destination,
                            data: data,
                            success: function(data) {
                                var className = '';
                                if (data['status'] == 'ok') {
                                    dataRow.fadeOut('slow', function () {
                                        $(this).remove();
                                    });
                                    className = 'alert alert-success';
                                } else {
                                    className = 'alert alert-danger';
                                }

                                var content = '<div class="' + className + '">' + data["message"]
                                        + '<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a></div>';
                                $(content).hide().appendTo(messageBox).fadeIn(1000);
                            }
                        });
                    }
                });
            });

            $('.panel-heading span.clickable').on("click", function (e) {
                if ($(this).hasClass('panel-collapsed')) {
                    // expand the panel
                    $(this).parents('.panel').find('.panel-body').slideDown();
                    $(this).removeClass('panel-collapsed');
                    $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }
                else {
                    // collapse the panel
                    $(this).parents('.panel').find('.panel-body').slideUp();
                    $(this).addClass('panel-collapsed');
                    $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                }
            });
        });
    </script>
{% endblock %}
