{% extends '::base.html.twig' %}

{% block content %}
    <div autoscroll="false" class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading"><h1>Mano mačai</h1></div>
                    <div class="panel-body">
                        <div><h4>Sukurta:</h4></div>
                        {% for match in createdMatches %}
                            <div>{{  match.description }}</div>
                            <div>{{  match.type.name }}</div>
                            <div>{{  match.beginsAt.format('H:i') }}</div>

                            <br>
                        {% endfor %}

                        <div><h4>Dalyvauta:</h4></div>
                        {% for match in attendedMatches %}
                            <div>{{  match.description }}</div>
                            <div>{{  match.type.name }}</div>
                            <div>{{  match.beginsAt.format('H:i') }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
